            .navbar-toggler {
                border: none;
            }
            
            .navbar-toggler:focus {
                outline: none;
            }
            
            .navbar {
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 999;
                height: 70px;
                background-color: white !important;
                /*#dedede !important;*/
            }
            
            .nav-item {
                height: 50px;
            }
            
            .nav-link {
                font-size: 16px;
            }
            
            .nav-link:hover {
                font-size: 18px;
            }
            
            .nav-link:hover:before {
                content: "\f231";
            }
            
            .navbar-collapse {
                padding: 0 20px 20px 20px;
                margin-top: 20px;
            }
            
            @media (max-width: 768px) {
                .navbar-collapse {
                    position: absolute;
                    top: 70px;
                    left: 0;
                    padding-left: 40px;
                    padding-right: 15px;
                    padding-bottom: 15px;
                    width: 70%;
                    background: var(--white);
                    color: var(--black);
                }
                .navbar-collapse.collapsing {
                    height: auto;
                    -webkit-transition: left 0.3s ease;
                    -o-transition: left 0.3s ease;
                    -moz-transition: left 0.3s ease;
                    transition: left 0.3s ease;
                    left: -100%;
                    min-height: 100vh;
                }
                .navbar-collapse.show {
                    left: 0;
                    min-height: 100vh;
                    -webkit-transition: left 0.3s ease-in;
                    -o-transition: left 0.3s ease-in;
                    -moz-transition: left 0.3s ease-in;
                    transition: left 0.3s ease-in;
                    opacity: 0.95;
                }
            }
            
            .bi::before,
            [class^="bi-"]::before,
            [class*=" bi-"]::before {
                display: inline-block;
                font-family: bootstrap-icons !important;
                font-style: normal;
                font-weight: normal !important;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                vertical-align: -0.125em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            
            .navbar-toggler:focus {
                text-decoration: none;
                outline: 0;
                box-shadow: none;
            }
            /* small devices (landscape phones, 576px and up)*/
            
            @media (min-width: 576px) {}
            
            .navbar-collapse {
                top: 50px;
                align-items: flex-start !important;
            }
            /* // Medium devices (tablets, 768px and up) */
            
            @media (min-width: 768px) {}
            /* // Large devices (desktops, 992px and up) */
            
            @media (min-width: 992px) {}
            /* // X-Large devices (large desktops, 1200px and up) */
            
            @media (min-width: 1200px) {}
            /* // XX-Large devices (larger desktops, 1400px and up) */
            
            @media (min-width: 1400px) {
                .navbar {
                    height: 60px;
                }
                .nav-item {
                    width: 120px;
                }
            }
            /*hamburger*/
            
            * {
                margin: 0;
                padding: 0;
            }
            /* Icon 1 */
            
            #nav-icon1 {
                width: 40px;
                height: 40px;
                position: relative;
                /*margin: 50px auto;*/
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
            }
            
            #nav-icon1 span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: var(--black);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
            }
            
            .navbar-light .navbar-toggler {
                height: 50px;
            }
            
            #nav-icon1 span:nth-child(1) {
                top: 0px;
            }
            
            #nav-icon1 span:nth-child(2) {
                top: 14px;
            }
            
            #nav-icon1 span:nth-child(3) {
                top: 28px;
            }
            
            #nav-icon1.open span:nth-child(1) {
                top: 18px;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            
            #nav-icon1.open span:nth-child(2) {
                opacity: 0;
                left: -60px;
            }
            
            #nav-icon1.open span:nth-child(3) {
                top: 18px;
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                -o-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
            
            .navbar {
                box-shadow: -1px -1px 10px lightgrey;
            }
            
            .navbar-collapse.hide {
                color: red;
                background-color: red;
            }